= t 'mails.requirement.message', name: @user.first_name, event: @requirement.event.production_title, date: nice_timeframe(@requirement.event.from, @requirement.event.to), location: @requirement.event.location.title, device: @requirement.device.title, url: production_event_url(@requirement.event.production, @requirement.event, :only_path => false), creator_name: @requirement.event.production.user.fullname, creator_mail: @requirement.event.production.user.email, creator_url: user_url(@requirement.event.production.user)

