= t 'mails.requirement.message', name: @user.fullname, event: @requirement.event.production_title, from: @requirement.event.from, to: @requirement.event.to, location: @requirement.event.location.title, device: @requirement.device.title, url: url_for(:controller => 'events', :action => 'show', :id => @requirement.event.id, production_id: @requirement.event.production.id, :only_path => false)
