= t 'mails.collaboration.message', name: @user.first_name, event: @collaboration.event.production_title, date: nice_timeframe(@collaboration.event.from, @collaboration.event.to), location: @collaboration.event.location.title, instrument: @collaboration.instrument.title, url: production_event_url(@collaboration.event.production, @collaboration.event, :only_path => false)
