$activity-size: 50px;

.activity
{
  min-height: $activity-size;
  margin-bottom: 20px;

  border-left: 5px solid transparent;
}

.activity--create
{
  border-left-color: green;
}

.activity--update
{
  border-left-color: blue;
}

.activity--destroy
{
  border-left-color: red;
}

.activity__image-container
{
  max-width: $activity-size;
  padding: 0 !important;

  background-color: $black;
}

.activity__image-container__image
{
  height: $activity-size;

  background-position: center;
  background-size: cover;

  a
  {
    display: block;
    height: $activity-size;
    font-size: 0;
  }
}

.activity__content
{
  p
  {
    margin: 0;
  }
}

.activity__content__meta
{

}

.activity__content__message
{
  font-weight: bold;
  text-transform: uppercase;

  a, span.activity__content__message__deleted
  {
    background-color: $black;
    color: $white;
  }
}
