.container

  .row.header-row

    .col-sm-12

      %h1 Black Board

  .row

    .col-sm-12

      - if @collaborations.count > 0

        %h2 Looking for performers

        - @collaborations.each do |item|
          = render 'post', item: item

      - if @requirements.count > 0

        %h2 Looking for gear

        - @requirements.each do |item|
          = render 'post', item: item

