.container

  %h1 Hey!

  .panel.panel-default

    .panel-heading

      .panel-title Statistiken

    .panel-body

      .row

        .col-md-12

          %ul.list-group

            %li.list-group-item

              %span(class="badge")= @users_count
              Users

          %ul.list-group

            %li.list-group-item

              %span(class="badge")= @events_count
              Events

          %ul.list-group

            %li.list-group-item

              %span(class="badge")= @devices_count
              Devices

          %ul.list-group

            %li.list-group-item

              %span(class="badge")= @instruments_count
              Instruments

