.container

  .row.header-row

    .col-sm-12

      %h1= t('participants.overview_title')

  .row

    .col-sm-12

      - @users.each do |user|

        %h2
          = link_to "#{user.fullname} (#{user.country})", user_path(user)
