textarea
{
  max-width: 100%;
  max-height: 400px;
  min-height: 200px;
}

.btn
{
  text-transform: uppercase;
  color: $black;
}

.btn-danger
{
  border-color: red;
  background-color: $white;
  color: red;
}

.btn-info
{
  background-color: #ddd;
}

.btn-default:hover, .btn-info:hover
{
  background-color: $black;
  color: $white;
}

.btn-danger:hover
{
  border-color: red;
  background-color: red;
  color: $white;
}

.btn-success, .btn-primary
{
  color: $white;
}

.btn-success:hover, .btn-primary:hover
{
  background-color: $white;
  color: $black;
}

.form-control
{
  padding-left: 6px;
}

.form-control:focus, .has-error .form-control:focus
{
  border-color: $gray-dark;
  background-color: $gray-lighter;
  box-shadow: none;
}

.has-error .form-control:focus
{
  border-color: $state-danger-text
}

.bootstrap-datetimepicker-widget
{
  z-index: 9999;

  border-color: $black;

  .glyphicon
  {
    color: $black;
  }

  .picker-switch
  {
    text-transform: uppercase;
  }

  table td.day
  {
    border-radius: 0;
    border: 1px solid $black;
  }

  table td.day.old
  {
    color: $black;
  }

  table td.day.disabled
  {
    border: none;
    color: #999;
  }

  table td.day.active
  {
    background-color: $black;
    text-shadow: none;
  }
}

/* help toggle */

.btn.toggle-help:focus
{
  background-color: inherit;
}

.btn.toggle-help:hover
{
  background-color: $black;
}

.btn.toggle-help.toggle-help--activated
{
  border-color: green;
  color: green;
}
