$footer-height: 50px;

html
{
  position: relative;
  min-height: 100%;
}

body
{
  margin-bottom: $footer-height;
}

.footer
{
  position: absolute;
  bottom: 0;

  width: 100%;
  height: $footer-height;

  .container
  {
    margin-top: $padding-base-horizontal;
  }

  ul, li
  {
    padding: 0;
    margin: 0;
  }

  ul
  {
    list-style: none;
  }

  li
  {
    display: inline;
    margin-right: 5px;
  }

  li, a
  {
    color: $gray;
    font-size: $font-size-base;
  }
}

@media (max-width: $screen-xs-min) {

  body
  {
    margin-bottom: $footer-height * 1.5;
  }

  .footer
  {
    height: $footer-height * 1.5;
  }

}

/* navigation */

.navbar
{
  background-color: $white;
  border: none;

  a
  {
    color: $black;
    text-transform: uppercase;
  }

  a:hover, li > a:hover
  {
    background-color: $black;
    color: $white;
  }

  li.active
  {
    text-decoration: underline;
  }
}

.navbar-toggle
{
  border-radius: 0;

  background-color: $black;

  .icon-bar
  {
    background-color: $white;
  }

  &.collapsed
  {
    background-color: transparent;

    .icon-bar
    {
      background-color: $black;
    }
  }
}

/* panels */

.panel
{
  border-color: $black;
  border-radius: 0;
  background-color: $white;
}

.panel-heading
{
  background-color: $black;
  border-radius: 0;
  color: $white;
  border: 0;
}

.panel-title
{
  font-size: $font-size-base;
  font-weight: bold;
  text-transform: uppercase;
  color: $white;
}

.panel-footer
{
  border-color: $black;
}
