body
{
  font-family: $font-family-sans-serif;
}

h1, h2, h3, h4, h5, h6
{
  text-transform: uppercase;
  color: $black;
}

h1
{
  font-weight: bold;
  font-size: 30px;
}

h2
{
  margin-top: 30px;
}

p
{
  line-height: 1.5;
}

ul.devise-links
{
  list-style: none;

  padding: 0;
  margin: 0;

  margin-top: $font-size-base;

  li
  {
    display: inline;
    margin-right: 5px;

    a
    {
      color: $gray;
    }
  }
}
