.container

  .row.header-row

    .col-sm-9

      %h1 Produktionen

    .col-sm-3

      - if can? :create, @productions
        = link_to 'New Production', new_production_path, class: 'btn btn-default'

  .row

    .col-sm-12

      %table(class="table")

        - @productions.each do |production|

          %tr

            %td= production.title

            %td
              - if can? :read, production
                = link_to 'Show', production_path(production)
              - if can? :update, production
                = link_to 'Edit', edit_production_path(production)
