.container

  %h1 Produktionen

  %table(class="table")

    - @productions.each do |production|

      %tr

        %td= production.title

        %td
          - if can? :read, production
            = link_to 'Show', production_path(production)
          - if can? :update, production
            = link_to 'Edit', edit_production_path(production)

    - if can? :create, @productions

      %p= link_to 'New Production', new_production_path
