.instrument.panel

  .panel-body.no-padding

    = render 'items_select', f: f, id: :instrument_id, collection: Instrument.all

  .panel-footer

    = link_to_remove_association t('productions.event.form.btn_remove_instrument'), f, class: 'btn btn-danger', data: { confirm: t('common.form.prompt_are_you_sure') }, wrapper_class: 'instrument'
