.device

  = f.input :device_id, collection: Device.all

  = f.input :title
  = f.input :description

  = link_to_remove_association 'Remove Device', f, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }, wrapper_class: 'device'
