.container

  .row.header-row

    .col-sm-12

      %h1= t('activity.title')

  .row

    .col-sm-12

      - for activity in @activities
        = render_activity activity, :layout => "../public_activity/layout", :fallback => "message"

      = will_paginate @activities, renderer: BootstrapPagination::Rails
