body.nav-collapsed
{
  overflow: hidden;
}

.navbar
{
  background-color: $white;
  border: none;

  a
  {
    color: $black;
    text-transform: uppercase;
  }

  a:hover, li > a:hover, a:focus, a:active
  {
    background-color: $black !important;
    color: $white;
  }

  li.active
  {
    text-decoration: underline;
  }

  padding-bottom: 30px;
  margin-bottom: 30px;

  .container
  {
    border-bottom: 3px solid $black;
  }
}

.navbar-toggle
{
  border-radius: 0;

  background-color: $black;

  .icon-bar
  {
    background-color: $white;
  }

  &.collapsed
  {
    background-color: transparent;

    .icon-bar
    {
      background-color: $black;
    }
  }
}

.navbar-right
{
  margin-right: 0;
}

.navbar-brand-container
{
  width: 100%;
  text-align: center;

  h1
  {
    padding: 0;
    margin: 0;
  }
}

a.navbar-brand
{
  float: initial;
  font-size: 50px;
  font-weight: bold;

  line-height: initial;

  margin-left: 0 !important;

  width: 100%;
  height: auto;

  display: inline-block;
}

@media (max-width: $screen-sm-max) {

  .navbar-brand-container
  {
    margin-top: 0;
    text-align: left;
  }

  a.navbar-brand
  {
    width: auto;
    height: $navbar-height;

    font-size: 20px;
  }

}

@media (max-width: $screen-xs-max) {

  a.navbar-brand
  {
    font-size: 18px;
  }

}

.navbar-collapse
{
  background-color: $white;
  overflow-y: auto;
}

@media (max-width: $screen-xs-max) {

  .navbar-collapse.in, .navbar-collapse.collapsing
  {
    position: fixed;

    z-index: 3000;

    left: 0px;
    right: 0px;
    bottom: 0px;
    top: $navbar-height;

    padding-left: 30px;
    padding-right: 30px;

    border-bottom: 3px solid $black;

    .divider
    {
      display: none;
    }

    .navbar-left
    {
      margin-bottom: 0;
    }

    .navbar-right
    {
      margin-right: -15px;
      margin-top: 0;
    }
  }

  .dropdown-menu
  {
    li > a
    {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
  }

}

.nav .open > a
{
  background-color: $black;
  color: $white;
}

.dropdown-menu
{
  box-shadow: initial;
  border: 3px solid $black;

  padding-top: 0;
  padding-bottom: 0;

  li a
  {
    padding: 15px 20px;
  }

  li.active a
  {
    background-color: $white;
    color: $black;
  }

  .divider
  {
    background-color: $black;
    height: 3px;
    margin: 0;
  }
}

@media (min-width: $screen-sm-min) {

  .navbar-collapse
  {
    margin-left: -15px;
    margin-right: -15px;
    padding: 0;
  }

}
