.panel

  .panel-body

    - if f.object.src?

      = image_tag f.object.src.thumb.url, class: 'img-responsive'

    - else

      = f.file_field :src

  .panel-footer

    = link_to_remove_association t('common.form.btn_remove_image'), f, class: 'btn btn-danger', data: { confirm: t('common.form.prompt_are_you_sure')  }, wrapper_class: 'panel'
