.container

  .row.header-row

    .col-sm-9

      %h1= "Edit #{collection.model_name.human}"

    .col-sm-3

      = link_to 'Overview', collection_path(resource), class: 'btn btn-default'

  = render 'form', resource: resource
