.event-grid
{
  margin-top: 60px;
  margin-bottom: 60px;

  h2
  {
    margin-top: 0;
  }
}

.event-grid__container
{
  border-top: 3px solid $black;

  height: 300px;

  position: relative;

  cursor: crosshair;

  h2
  {
    display: inline;

    background-color: $black;

    a
    {
      color: $white !important;
    }
  }

  .btn
  {
    visibility: hidden;
  }

  overflow: hidden;
}

.event-grid__container:nth-child(odd)
{
  border-right: 3px solid $black;
}

.event-grid__container__event
{
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.event-grid__container__event__owner
{
  margin-top: 1em;
  text-transform: uppercase;
}

.event-grid__container__image, .event-grid__container__event
{
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.event-grid__container__image
{
  background-position: center;
  background-size: cover;
  opacity: 0;
}

.event-grid__container:hover
{
  .event-grid__container__image
  {
    opacity: 1;
  }

  h2, h3, p
  {
    background-color: $black;
    color: $white;
  }

  span a, p a
  {
    background-color: $black;
    color: $white;
  }

  .btn
  {
    visibility: visible;
  }
}

@media (max-width: $screen-md-min) {

  .event-grid__container
  {
    border-right: none !important;
  }

}
