textarea
{
  max-width: 100%;
  max-height: 400px;
  min-height: 200px;
}

.form-control
{
  padding-left: 6px;
}

.form-control:focus, .has-error .form-control:focus
{
  border-color: $gray-dark;
  background-color: $gray-lighter;
  box-shadow: none;
}

.has-error .form-control:focus
{
  border-color: $state-danger-text
}

.bootstrap-datetimepicker-widget
{
  z-index: 9999;

  border-color: $black;

  .glyphicon
  {
    color: $black;
  }

  .picker-switch
  {
    text-transform: uppercase;
  }

  table td.day
  {
    border-radius: 0;
    border: 1px solid $black;
  }

  table td.day.old
  {
    color: $black;
  }

  table td.day.disabled
  {
    border: none;
    color: #999;
  }

  table td.day.active
  {
    background-color: $black;
    text-shadow: none;
  }
}
