.header-row
{
  h1
  {
    margin: 0;
    padding: 0;
  }

  a.btn, .btn-group
  {
    float: right;
    @include clearfix();
  }

  .btn-group a.btn
  {
    float: left;
  }

  margin-bottom: 30px;
}

.header-row__category
{
  background-color: $black;
  color: $white;

  a
  {
    color: $white;
  }

  margin-right: 10px;
}

@media (max-width: $screen-xs-max) {

  .header-row
  {
    h1
    {
      margin-bottom: 15px;
    }

    a.btn, .btn-group
    {
      float: initial;
    }
  }

}
