$item-select-size: 150px;

.items-select
{
  margin-top: 10px;
  margin-bottom: 10px;
}

.items-select-cell-container
{
  width: 100%;
  height: $item-select-size;
  overflow: auto;
}

.items-select__cell
{
  display: block;

  float: left;

  cursor: pointer;

  border: 5px solid;
  border-color: #999;

  width: $item-select-size;
  height: $item-select-size;

  margin-right: 10px;
  margin-bottom: 10px;

  padding: 10px;
}

.items-select__cell--selected
{
  border-color: red;
}

.items-select__cell--disabled
{

}

.items-select__create
{
  margin-top: 10px;
}
