$table-image-size: 50px;

.table
{
  margin-top: 30px;
}

.table-image
{
  padding: 0 !important;
  width: $table-image-size;
}

.table-image__image
{
  background-position: center;
  background-size: cover;

  width: $table-image-size;
  height: $table-image-size;
}

.table > tbody
{
  td, th
  {
    border-top: 7px solid $white !important;
    vertical-align: middle !important;
  }

  tr:first-child
  {
    margin-left: -15px;
    margin-right: -15px;
  }

  tr td:nth-child(1), tr th:nth-child(1)
  {
    max-width: $table-image-size;
  }

  tr:nth-child(2) td
  {
    border-top: 7px solid $white !important;
  }

  tr td:nth-child(2), tr th:nth-child(2)
  {
    width: auto;
  }

  tr td:nth-child(3), tr th:nth-child(3)
  {
    width: 25%;
  }

  tr td:nth-child(4), tr th:nth-child(4)
  {
    width: 10%;
    min-width: 100px;
  }

  tr th
  {
    background-color: $black;
    color: $white !important;

    border-top: none !important;
    text-transform: uppercase;
  }

  tr td
  {
    background-color: #eee;
  }

  tr:hover
  {
    td
    {
      background-color: $black !important;
    }

    td > a, td > strong > a, td
    {
      color: $white !important;
    }

    .btn
    {
      visibility: visible;
    }
  }

  .btn
  {
    visibility: hidden;
  }

}

@media (max-width: $screen-xs-max) {

  .table tr td:last-child, .table tr th:last-child
  {
    display: none;
  }

}

