.well
{
  border: 0;

  position: relative;

  z-index: 1;

  color: $white;

  h1, h2, h3, h4, h5, p, a
  {
    color: $white;
  }
}

.well:after
{
  position: absolute;

  left: -100%;
  right: -100%;
  top: 0;
  bottom: 0;

  content: "";

  z-index: -1;

  background-color: #222;
}

.well-container
{
  overflow: hidden;
}
