.event-grid.row

  - resource.events.each do |event|

    .event-grid__container.col-md-6

      .event-grid__container__event

        %h3= event.production_title

        %p= nice_timeframe(event.from, event.to)

        - if can? :update, resource
          %p= link_to 'Edit', edit_production_event_path(event.production, event), class: 'btn btn-success'

.clearfix
