.image-grid.row

  - resource.images.each do |image|

    .image-grid__container.img-responsive

      .image-grid__container__image{ :style => 'background-image: url("' + image.src.url + '")' }

        = link_to "", image.src.url, class: 'fancybox'

.clearfix
