.container

  %h1.text-center= t('locations.overview_title')

  .locations

    - @locations.each do |location|

      .locations__item{ :style => if location.cover_image then 'background-image: url("' + location.cover_image.src.url + '")' end }

        %h2
          = link_to location.title, location_path(location)
