.footer

  .container

    %ul

      %li= Rails.application.config.title
      = li_link_to "Anfahrt", routes_path
      = li_link_to "Kontakt", contact_path

      - if current_user.try(:admin)
        = li_link_to "Admin", admin_root_path
